src/gen/

tempest_dist*

python-package/tempest_graph/
python-package/tempest_db*
python-package/__init__.py
python-package/dist/
python-package/tempest_client.pyc
python-package/tempest_graph.egg-info/

ruby-package/lib/gen/
ruby-package/tempest_db-0.10.0.gem

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
